@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

body {
    background-image: url("https://cdn.discordapp.com/attachments/749375513801523270/917194878176329778/unknown.png");
}

header {
    background-color:#25b2a8;
    text-decoration: none;
    margin-bottom:25px;
    font-family: 'PT Sans', sans-serif; 
}

nav {
    display: flex; 
    justify-content: space-between;
    font-size:25px;
    text-align: center;
    text-decoration:none;
    font-family: 'PT Sans', sans-serif;
}
#navbutton {
    color:white;
    padding:25px;
    text-decoration: none;
}
#navbutton:hover {
    background-color:#57d0ac;
    color:white;
}
