@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

body {
  font-family:'PT Sans', sans-serif;
  max-width:1920px;
  background-color:#99aab5;
  margin:0;
  text-align:center;
  list-style-type: none;
}
header {
    background-color:#5865F2;
    text-decoration: none;
    margin-bottom:25px;
}
footer {
    background-color:#5865F2;
    padding:50px;
    display:flex;
    padding:50px;
    justify-content: space-between;
    color:white;
}

nav {
    display:flex;
    justify-content: space-between;
    font-size:25px;
    text-align: center;
    text-decoration:none;
}
#roles-and-channel,#staff,#site-plan,#home {
    color:white;
    text-decoration: none;
    padding:25px;
}
#home:hover {
    background-color:#99A2EF;
    color:white;
}
#roles-and-channel:hover {
    background-color:#99A2EF;
    color:white;
}
#staff:hover {
    background-color:#99A2EF;
    color:white;
}
#site-plan:hover {
    background-color:#99A2EF;
    color:white;
}

.img {
    width:960px; 
    height:248x;
    border-radius:25px;
    transition: transform .5s;
    box-shadow: 5px 5px 10px black
}
.img:hover {
    opacity: .6;
    transform: scale(1.12);
}

h1 {
    font-size:25px;
    font-style: bold; 
}

.staff-divider {
    display:grid;
    grid-template-columns: 1fr 1fr;
}
.staffmembers {
    grid-template-rows: 5/6;
    list-style: none;
    text-align:center;
}

.apply {
    text-align:left;
    list-style-type: none;
}


.accordion {
    font-family:'PT Sans', sans-serif;
    background-color: #99aab5;
    border-radius:15px;
    color: black;
    cursor: pointer;
    padding: 18px;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    width:100%;
    text-align:center;
    margin:0 auto;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .accordion:hover {
    background-color: #99aab5;
    color:black;
    text-align:center;
    text-align:center;
    margin:0 auto;
  }

  .accordion:hover {
    color:white;
}
  
  /* Style the accordion panel. Note: hidden by default */
  .panel {
    padding: 0 18px;
    background-color:#99aab5;
    color:black;
    display: none;
    overflow: hidden;
    text-align:center;
    text-align:center;
    margin:0 auto;
  }

.question,.bigquestion {
    width:75%;
    height:45px;
    margin:5px 0;
    padding:10px 12px;
    box-sizing:border-box;
    border:2px solid lightgray;
    border-radius:15px;
    font-family:'PT Sans', sans-serif;
}

.bigquestion {
    height:125px;
}

.button {
    padding:15px;
    width:75%;
    background-color:#5865F2;
    border-radius:15px;
    color:white;
    text-decoration: none;
    font-family:'PT Sans', sans-serif;
}
.button:hover{
    background-color:#99A2EF;
    color:white;
    font-family:'PT Sans', sans-serif;
}